<?php
// Zabbix GUI configuration file
global $DB;

$DB['TYPE']     = 'POSTGRESQL';
$DB['SERVER']   = '{{getv "/database/host"}}';
$DB['PORT']     = '5432';
$DB['DATABASE'] = '{{getv "/database/name"}}';
$DB['USER']     = '{{getv "/database/user"}}';
$DB['PASSWORD'] = '{{getv "/database/password"}}';

// SCHEMA is relevant only for IBM_DB2 database
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{getv "/zabbix/host"}}';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = '';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
